@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;800&family=Work+Sans:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .text-link {
    @apply text-blue-500 cursor-pointer hover:underline;
  }

  .section {
    @apply max-w-6xl px-4 mx-auto sm:px-6 lg:px-8;
  }

  .section-title {
    @apply text-2xl font-bold leading-tight text-gray-900 sm:text-3xl;
  }

  .form-container {
    @apply relative flex items-center w-full space-x-3 bg-white border border-gray-400 rounded-lg shadow-sm md:w-2/3 hover:shadow-lg;
  }
  .form-title {
    @apply px-4 pb-1 mt-2 text-3xl border-b border-gray-400 sm:px-8 font-Roboto;
  }
  .form-body {
    @apply px-4 py-5 sm:px-6 lg:px-8 sm:py-6 hover:shadow-lg;
  }
  .form {
    @apply px-4 py-5 border border-black sm:p-6;
  }

  .card {
    @apply relative flex flex-col justify-between transition-all duration-300 bg-white border border-gray-400 rounded-lg shadow-sm cursor-pointer h-52 hover:drop-shadow-lg shadow-indigo-200;
  }
}
